@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<h2>About Me</h2>
<p>Enthusiastic and creative web development student with hands-on experience in building responsive websites and interactive digital projects. Skilled in front-end and back-end technologies, eager to learn, collaborate, and contribute to real-world projects. Passionate about creating engaging web experiences and continuously improving technical skills.</p>
