@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<h2>Contact</h2>
<form method="post">
    <p><label>Name:</label><br /><input type="text" name="Name" /></p>
    <p><label>Email:</label><br /><input type="email" name="Email" /></p>
    <p><label>Message:</label><br /><textarea name="Message"></textarea></p>
    <p><button type="submit">Send</button></p>
</form>
