@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<h2>Education</h2>
<p>Highschool: San Bartolome HighSchool</p>
<p>Senior Highschool: Trinity Polytechnic College Inc.</p>
<p>College: Quezon City University</p>
