@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<h2>Gallery</h2>
<img src="~/images/Bini1.jpg" width="500" alt="Sample Photo 1" />
<img src="~/images/Bini2.jpg" width="500" alt="Sample Photo 2" />
<img src="~/images/Bini3.jpg" width="500" alt="Sample Photo 3" />
<img src="~/images/Bini4.jpg" width="500" alt="Sample Photo 4" />

