@{
    ViewBag.Title = "Hobbies";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<h2>Hobbies</h2>
<ul>
    <li>Watching Anime and Kdrama</li>
    <li>Playing Online Games</li>
    <li>Music</li>
</ul>
