@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<h2>Welcome</h2>
<p>Hello! My name is Christian Jake A. Perandos. This website showcases my skills, projects, and interests.</p>
