@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<h2>Skills</h2>
<ul>
    <li>Web Developer</li>
    <li>System Analyst</li>
    <li>Computer Skills</li>
    <li>Problem Solving</li>
</ul>
